body {
  margin: 0;
  color: white;
  background-color: white;
}

/* HEADER */
header {
  background-color: #1f2937;
  padding: 25px 100px 0 100px;
}

h1 {
  font-size: 48px;
  margin: 0;
  padding-bottom: 5px;
}

.main-container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.main-title {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 400px;
}

.subtext-main {
  padding-bottom: 15px;
  text-align: justify;
}

.header-button {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  width: 85px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.placeholder {
  width: 450px;
  height: 200px;
  background-color: grey;
  margin-left: 170px;
  display: flex;
  justify-content: center;
}

.placeholder-text {
  display: flex;
  align-items: center;
}



/* NAVBAR */
nav {
  margin: 0 150px;
}

.header-logo {
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

.header-link {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  padding-right: 20px;
}


/* Square section */
h2 {
  color: #1f2937;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 36px;
}

.square-picture {
  padding: 20px 0 150px 0;
}

.square-info {
  display: flex;
  justify-content: center;
}

.square {
  position: relative;
  width: 130px;
  height: 130px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-left: 35px;
}

p {
  position: absolute;
  bottom: -75px;
  color: #1f2937;
  font-size: 15px;
  text-align: center;
}





/* Review section */
.container-review {
  background-color: #e5e7eb;
  padding: 90px 90px 60px 90px;
}

.review-container-1 {
  display: flex;
  justify-content: center;
}

.review-text {
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  text-align: justify;
  width: 550px;
}

h4 {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 10px;
  margin-left: 450px;
}

.review-name {
  display: flex;
  justify-content: center;
}





/* POP-UP */
.pop-up {
  display: flex;
  justify-content: center;
  padding: 75px 50px;
}

.container-pop-up {
  display: flex;
  justify-content: center;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 40px 80px 30px 80px;
}

.pop-up-text-first {
  font-weight: bold;
}

.pop-up-text {
  display: flex;
  justify-content: flex-start;
}

.pop-up-button {
  font-weight: bold;
  margin-left: 100px;
  padding: 5px 25px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #3882f6;
  color: white;
  cursor: pointer;
}



/* FOOTER */
footer {
  background-color: #1f2937;
  padding: 25px 25px;
  display: flex;
  justify-content: center;
}